@media(max-width:688px){
.navbar, .container{
    width:100%;
}
.player-title{
    text-align: center;
}
.players, .blogs, .courses{
    grid-template-columns: repeat(1,1fr);
}
.player, .course{
    flex-direction: column;
    margin:0 auto;
}



}